.motel-header{
    width: 100%;
    height: 70px;
    background-color: #fff;
    display: flex;
    align-items: center;
    vertical-align: auto;
    justify-content: space-between;
    padding: 4px;

    &__left{
        width:auto;
        height: 100%;
    }

    &__right{
        height: 100%;
        display: flex;
        align-items: center;
        vertical-align: auto;
        cursor: pointer;

        button{
            margin-left: 4px;
        }

        &_avt{
            width: 50px;
            height: 50px;
            margin-left: 8px;
        }

        &_setting{
            background-color: #fff;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            position: absolute;
            top: 75px;
            right: 5px;

            &_item{
                padding: 12px;

                &:hover {
                    background-color: rgb(202, 216, 241);
                }
            }
            
        }

        
    }
}